@import "../../styles/constants.scss";

.pagination {
  margin: 20px auto;
  display: flex;
  max-width: 320px;
  justify-content: space-around;
  align-items: center;
}

.pagination__button {
  border: none;
  outline: none;
  background-color: $gray-active;

  padding: 10px;
  transition: 0.1s all ease-in-out;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }

  &:active {
    background-color: $green;
    color: $white;
  }

  &:disabled {
    cursor: default;
    scale: 1;

    &:active {
      background-color: $red;
      color: $white;
    }
  }
}
