@import "../../styles/constants.scss";

.section {
  padding: 15px;

  .section__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    .section__info--button {
      outline: none;
      border: 2px solid black;
      background-color: inherit;
      padding: 10px 25px;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        background-color: $green;
        color: $white;
      }
    }
  }

  .section__info--chart {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}
